<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DEVOPS</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">"PAGINA EM TESTE NA PIPELINE DEVOPS, UTILIZANDO CODEANYWHERE,GITHUB,TRAVIS CI E HEROKU "</div> 
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/devops.png" alt="Devops">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">TESTANDO A ESTEIRA</p>
			
			<div class="devops-path path">
				<h1>Blogs</h1>
				<a href="https://www.mundodocker.com.br/tag/docker-brasil/" class="devops-course course">
					<h2>Docker Brasil - Mundo Docker</h2>
				</a><!--
				--><a href="http://blog.4linux.com.br/" class="devops-course course">
					<h2>Blog 4 Linux - Artigos dos consultores e instrutores</h2>
				</a><!--
				--><a href="http://blog.caelum.com.br/" class="ops-course course">
					<h2>Blog da Caelum: desenvolvimento, web, mobile, UX e Scrum</h2>
				</a><!--
				--><a href="https://churrops.io/" class="ops-course course">
					<h2>Churrops on DevOps</h2>
				</a><!--
				--><a href="https://devopos.wordpress.com/" class="dev-course course">
					<h2>Devopos - De Dev para Ops</h2>
				</a><!--
				--><a href="https://devopscube.com/" class="dev-course course">
					<h2>DevopsCube - DevOps trends,News,tutorials,Cloud Computing </h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Especialização</h1>
				<a href="https://acloud.guru/" class="ex-course course">
					<h2>A Cloud Guru - Cloud computing certification training for the Amazon Cloud</h2>
				</a><!--
				--><a href="https://www.udemy.com/" class="ex-course course">
					<h2>Udemy - Learn Anything , On Your Schedule</h2>
				</a><!--
				--><a href="https://aws.amazon.com/" class="ex-course course">
					<h2>Amazon Web Services - Cloud Computing Services</h2>
				</a><!--
				--><a href="https://www.heroku.com/" class="ex-course course">
					<h2>Heroku - Cloud Application Computing</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
